<div class="jumbotron center">
  <h1>Welcome to Reciperocity</h1>
  <h2>The best recipe sharing app!</h2>
</div>
 <div class="row"><div class="col-md-2 col-offset-5"><%= link_to "Sign up or log in", "#",  class: "btn btn-danger btn-lg" %></div></div>